body, html, #root {
	min-height: 100%;
}

body {
	background: url(/public/bg.jpg) no-repeat right top;
	border-top: 5px solid #222;
	overflow-y: scroll;
	word-break: break-all;
}

.app {
	margin: 2% 5%;
	padding: 3% 5%;
	background-color: rgba(255, 255, 255, .7);
	height: 100%;
}

.content {
	margin-top: 2%;
}

.content h2 {
	padding-bottom: .2em;
	margin-bottom: 1em;
	border-bottom: 1px solid #bdbdbd;
}

textarea {
	resize: vertical;
}

.right-align {
	text-align: right;
}